*{
	font-family: 'Abril Fatface', cursive;
}	
nav a {
	font-size: 50px;
	color: #070707;
}

nav a {
    color:  #070707 !important;
    text-decoration: none;
}

.main-container{
	display: flex;
	flex: 1 100%;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
}

.secondary-text{
	color: #898989;
}
